<h1>Listing tweets</h1>

<table>
  <tr>
    <th>Text</th>
    <th>Id str</th>
    <th>Tweet created at</th>
    <th>Tuser id str</th>
    <th>Tuser screen name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweets.each do |tweet| %>
  <tr>
    <td><%= tweet.text %></td>
    <td><%= tweet.id_str %></td>
    <td><%= tweet.tweet_created_at %></td>
    <td><%= tweet.tuser_id_str %></td>
    <td><%= tweet.tuser_screen_name %></td>
    <td><%= link_to 'Show', tweet %></td>
    <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
    <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweet', new_tweet_path %>
